/* latin */
@font-face {
    font-family: 'Aldrich';
    font-style: normal;
    font-weight: 400;
    src: local('Aldrich Regular'), local('Aldrich-Regular'), url(MCoTzAn-1s3IGyJMVacY3w.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: 'Monoton';
    font-style: normal;
    font-weight: 400;
    src: local('Monoton'), local('Monoton-Regular'), url(5h1aiZUrOngCibe4TkHLQg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


html,body {
    height: 100%;
}
body{
    background: #000;
    box-sizing: border-box;
    overflow: hidden;
}
body::after {
    content: "";
    background: #000 url(bg.jpg) no-repeat;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

div.keypad {
    position: absolute;
    top: 5px;
    left: 5px;
    user-select: none;
    box-sizing: border-box;
    width: 48%;
    height: 90%;
    border: solid 2px #fff;
    display: flex;
    flex-wrap: wrap;
}

div.keypad div {
    border: solid 2px #fff;
    text-align: center;
    width: 30%;
    box-sizing: border-box;
    margin: 5px;
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    user-select: none;
}

div.keypad div span{
    color: #fff;
    font-size: 100px;
    font-family: 'Aldrich', sans-serif;
    user-select: none;
}

div.input-area {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 48%;
    border: solid 2px #888;
    display: flex;
    height: 100px;
}

div.input-area div {
    font-family: 'Aldrich', sans-serif;

    border: solid 1px #fff;
    color: #fff;
    font-size: 50px;
    text-align: center;
    box-sizing: border-box;
    margin: 5px;
    flex-grow: 1;
    padding-top: 10px;
    user-select: none;
}

div.code_wrong {
    font-family: 'Monoton', cursive;
    display: none;
    position: absolute;
    text-align: center;
    top: 120px;
    right: 5px;
    width: 48%;
    color: #A00;
    font-size: 50px;
}

div.code_correct {
    font-family: 'Monoton', cursive;
    display: none;
    position: absolute;
    text-align: center;
    top: 120px;
    right: 5px;
    width: 48%;
    color: #0A0;
    font-size: 50px;
}

